<header>
  <nav>
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item {{y===year?'current':''}}" *ngFor="let y of years"><a routerLink="/overview/quarter/{{y}}">{{y}}</a></li>
    </ul>
  </nav>
</header>
<section *ngFor="let quarter of quarters; let i = index">
  <h3 class="float-left">quarter {{i+1}}</h3>
  <button (click)="onClickCsv(quarter)" class="btn btn-secondary btn-sm float-right">copy csv data</button>
  <table>
    <thead><tr>
      <th width="10%" data-order-key="invoiceNr">nr</th>
      <th width="10%" data-order-key="date">date</th>
      <th width="20%" data-order-key="client">client</th>
      <th width="33%" data-order-key="description">description</th>
      <th width="9%" data-order-key="totalDiscounted" class="text-right">ex</th>
      <th width="9%" data-order-key="totalVatDiscounted" class="text-right">VAT</th>
      <th width="9%" data-order-key="totalIncDiscounted" class="text-right">total</th>
    </tr></thead><tbody>
      <tr *ngFor="let project of quarter | arraySort:'date'" class="row-select">
        <td><a routerLink="{{project.uri}}">{{project.invoiceNr}}</a></td>
        <td><small>{{project.date | date:dateFormat}}</small></td>
        <td class="text-overflow">{{project.client.name}}</td>
        <td class="text-overflow">{{project.description}}</td>
        <td class="text-right">{{project.totalDiscounted | currency:'EUR':true}}</td>
        <td class="text-right">{{project.totalVatDiscounted | currency:'EUR':true}}</td>
        <td class="text-right">{{project.totalIncDiscounted | currency:'EUR':true}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="row-select">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">{{getTotalDiscounted(quarter) | currency:'EUR':true}}</td>
        <td class="text-right">{{getTotalVatDiscounted(quarter) | currency:'EUR':true}}</td>
        <td class="text-right">{{getTotalIncDiscounted(quarter) | currency:'EUR':true}}</td>
      </tr>
    </tfoot>
  </table>
</section>
<section>
  <table>
    <thead><tr>
      <th width="10%"></th>
      <th width="10%"></th>
      <th width="35%"></th>
      <th width="40%"></th>
      <th data-order-key="totalDiscounted" class="text-right" width="10%">ex</th>
      <th data-order-key="totalVatDiscounted" class="text-right" width="10%">VAT</th>
      <th data-order-key="totalIncDiscounted" class="text-right" width="10%">total</th>
    </tr></thead><tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">{{getTotalDiscounted() | currency:'EUR':true}}</td>
        <td class="text-right">{{getTotalVatDiscounted() | currency:'EUR':true}}</td>
        <td class="text-right">{{getTotalIncDiscounted() | currency:'EUR':true}}</td>
      </tr>
    </tbody>
  </table>
</section>
<textarea #csv class="visually-hidden"></textarea>