<div class="interpolationui" [ngClass]="{'ui-visible':uiVisible}" (mouseenter)="onMouseEnter($event)" (mouseleave)="onMouseLeave($event)">
  <textarea [(ngModel)]="value" (focus)="onFocus($event)" (blur)="onBlur($event)"></textarea>
  <div class="ui">
    <input id="dummynone{{id}}" name="dummy{{id}}" type="radio" class="visually-hidden" />
    <ul class="list-inline dummy-model" >
      <li *ngFor="let dummy of dummyModel | object" class="list-inline-item">
        <input id="dummy{{id}}{{dummy.key}}" name="dummy{{id}}" type="radio" class="visually-hidden" />
        <label for="dummy{{id}}{{dummy.key}}" class="btn btn-sm">{{dummy.key}}</label>
        <ul class="list-inline">
          <li *ngFor="let keyval of dummy.value | object:false" class="list-inline-item">
            <label for="dummynone{{id}}" class="btn btn-sm" (click)="onClickDummy(dummy.key,keyval.key)">{{keyval.key}}</label>
          </li>
        </ul>
      </li>
    </ul>
    <!--<strong><small [innerHTML]="interpolate(__(value||'')) | safeHtml"></small></strong>-->
    <!--<strong><small [innerHTML]="interpolate(value||'') | safeHtml"></small></strong>-->
    <strong><small [innerHTML]="parse(value||'') | safeHtml"></small></strong>
  </div>
</div>