td app-currency {
  width: 60px;
  float: right;
}
thead th {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10%;
  &:nth-child(1) {
    width: 30%;
  }
  &:nth-child(3), &:last-child {
    width: 1%;
  }
}
.hourly-rate {
  app-currency {
    width: 60px;
    margin-right: 20px;
  }
  input {
    width: calc(100% - 80px);
    float: right;
  }
}