td>app-currency {
  width: 80px;
  margin-left: 10px;
}
thead th {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10%;
  &:nth-child(1), &:nth-child(3) {
    width: 30%;
  }
}
.hourly-rate {
  app-currency {
    width: 60px;
    margin-right: 20px;
  }
  input {
    width: calc(100% - 80px);
    float: right;
  }
}