<section>
  <dl class="row">
    <dt [appExplain]="'settings.backup'" class="name">backup</dt>
    <dd>
      <a (click)="onClickDownload($event,'config')" class="btn btn-secondary btn-sm" href="#">config</a>
      <a (click)="onClickDownload($event,'data')" class="btn btn-secondary btn-sm" href="#">data</a>
    </dd>
    <dt [appExplain]="'settings.restore'" class="name">restore</dt>
    <dd>
      <label class="btn btn-secondary btn-sm" for="config">config</label><input accept="application/json, text/json, .json" type="file" id="config" (change)="onChangeRestore($event,'config')" class="visually-hidden" />
      <label class="btn btn-secondary btn-sm" for="data">data</label><input accept="application/json, text/json, .json" type="file" id="data" (change)="onChangeRestore($event,'data')" class="visually-hidden" />
    </dd>
    <dt [appExplain]="'settings.clear'" class="name">clear</dt>
    <dd>
      <button (click)="onClickClear('config')" class="btn btn-secondary btn-sm">config</button>
      <button (click)="onClickClear('data')" class="btn btn-secondary btn-sm">data</button>
    </dd>
  </dl>
</section>
<section>
  <dl class="row">
    <dt [appExplain]="'settings.projectNumberTemplate'" class="name">projectNumberTemplate</dt><dd>
      <app-interpolationui [(ngModel)]="settings.projectNumberTemplate" (ngModelChange)="onNgModelChanged()"></app-interpolationui>
    </dd>
    <dt [appExplain]="'settings.csvTemplate'" class="name">csvTemplate</dt><dd>
      <app-interpolationui [(ngModel)]="settings.csvTemplate" (ngModelChange)="onNgModelChanged()"></app-interpolationui>
    </dd>
    <dt [appExplain]="'settings.langs'" class="name">langs</dt><dd>
      <input type="text" pattern="\w\w(,\w\w)*" rows="4" [(ngModel)]="settings.langs" (ngModelChange)="onNgModelChanged()" />
    </dd>
    <dt [appExplain]="'settings.currency'" class="name">currency</dt><dd>
      <select [(ngModel)]="settings.currency" (ngModelChange)="onNgModelChanged()">
        <option *ngFor="let currency of currencies" value="{{currency.code}}" ngDefaultControl>{{currency.name}} ({{currency.symbol}})</option>
      </select>
    </dd>
    <dt [appExplain]="'settings.homeMessage'" class="name">welcome message</dt><dd>
      <input type="checkbox" [(ngModel)]="settings.homeMessage" (ngModelChange)="onNgModelChanged()" />
    </dd>
  </dl>
</section>
