<section><h1 id="project-invoice">Project Invoice</h1>
<p>This invoicing application stores all your data on your local machine.</p>
<p>Your local documents are not shared between different browsers or computers.<br>Project Invoice is accessible offline after the application has been loaded for the first time. You can turn it into a mobile-web-app by using the add-to-home-screen from your mobile browser.</p>
</section><section><h2 id="getting-started">Getting Started</h2>
<p>You can head to <a href="http://invoice.ronvalstar.nl" target="_blank">Project Invoice</a> and start creating invoices.<br>Or you can make a local installation.</p>
<h3 id="using-the-app">Using the app</h3>
<p>The basis is easy: you have clients, clients have projects, projects have invoices (and an optional quotation).<br>You can tweak what your invoice will look like. You can print it to pdf or png format.<br>On the home or overview page you can check outstanding invoices, or mark them as paid.</p>
<p>Everything you save is done so on the machine or device you are working on. To get your data from (say) your phone to your desktop you can export the data to json, and import that file on a different device.<br>Clearing your browser's data may <em>delete all your local documents!</em>. Backup your data regularly!</p>
<h3 id="running-on-localhost">Running on localhost</h3>
<p>To get the application running locally you only need NodeJS, npm and GIT. If you don't know what those are you might be better off simply using the <a href="http://invoice.ronvalstar.nl" target="_blank">online version</a>, your data will be just as safe.</p>
<p><code>git clone https://github.com/Sjeiti/project-invoice.git</code></p>
<p><code>npm i</code></p>
<p><code>npm run start</code></p>
</section><section><h2 id="contributing">Contributing</h2>
<p>The sources of this application are open-source and can be found at <a href="https://github.com/Sjeiti/project-invoice" target="_blank">Github</a>.</p>
<p>If you find a bug or have a good idea for a feature you can <a href="https://github.com/Sjeiti/project-invoice/issues" target="_blank">file it there</a>.</p>
</section><section><h2 id="faq">faq</h2><app-foldable-definition><dt>Wait, this app is online in a browser. How is my private data not online?</dt><dd>
<p>Every site can access something called LocalStorage which resides on your local machine or device. This is where your data is stored. Websites can never access the LocalStorage of another website. Never will data be sent from your computer to the server. The only network communication is the application logic being sent from the server to your computer. All your private data remains on your own computer.</p>
</dd><dt>Is this safe?</dt><dd>
<p>Storing your data on your local machine is safer than sending and receiving it over the internet. And since LocalStorage is so called origin-specific, only this website can read this websites LocalStorage. But you can also run this on localhost if your tech savvy enough. It is as safe as you treat your computers security.</p>
</dd><dt>Don't I have to login with a username and password?</dt><dd>
<p>Logins are useful for server authentication. But since your data is stored on your local machine and not on a server, no authentication is needed.</p>
</dd><dt>How can I access my data from different machines?</dt><dd>
<p>Since the data is stored locally you can only access it from one computer. However you can save and/or import the data from the settings page. You could save it on a usb stick to transfer the data to a different computer.</p>
</dd><dt>I want to clear my LocalStorage to wipe all my data.</dt><dd>
<p>There is a button for that on the settings page.</p>
</dd><dt>Why?</dt><dd>
<p>Being self-employed all my life means I've been sending invoices for quite a while. I've seen a lot of invoicing software/services but was never really satisfied.<br>So I created my own:</p>
<ul>
<li>no cloud based data, everything is saved on your local machine, nothing is sent to a server</li>
<li>invoices are well designed and customizable</li>
<li>its easy to use</li>
<li>its open-source</li>
<li>its free</li>
<li>you can use the online version or run a local copy</li>
</ul>
<p>I cleaned it up a bit because I thought you might like it.</p>
</dd></app-foldable-definition></section><section><h2 id="license">License</h2>
<p>This project is licensed under the MIT License - see the <a href="https://raw.githubusercontent.com/Sjeiti/project-invoice/master/LICENSE" target="_blank">LICENSE</a> file for details</p>
</section>