section {
  position: relative;
}

dl.row {
  &.clone {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0.5;
    background-color: red;
  }
  dt {
    flex: 0 0 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    & + dd {
      position: relative;
      flex: 0 0 80%;
      padding-right: 30px;
      button {
        position: absolute;
        right: 0;
        top: 0;
        background: initial;
      }
      /*& + dd {
        flex: 0 0 20%;
      }*/
    }
  }
}

textarea {
  height: 80px;
  &:focus {
    height: 160px;
  }
}