<h2>{{client?.name}}</h2>

<section>
  <dl class="row">
    <dt class="col-3 text-right">name</dt><dd class="col-9"><input [(ngModel)]="client.name" (ngModelChange)="onNgModelChanged()" /></dd>
    <dt class="col-3 text-right">address</dt><dd class="col-9"><input [(ngModel)]="client.address" (ngModelChange)="onNgModelChanged()" /></dd>
    <dt class="col-3 text-right">city</dt><dd class="col-9"><input [(ngModel)]="client.city" (ngModelChange)="onNgModelChanged()" /></dd>
    <dt class="col-3 text-right">contact</dt><dd class="col-9"><input [(ngModel)]="client.contact" (ngModelChange)="onNgModelChanged()" /></dd>
    <dt class="col-3 text-right">nr</dt><dd class="col-9"><input [(ngModel)]="client.nr" (ngModelChange)="onNgModelChanged()" type="number" /></dd>
    <dt class="col-3 text-right">paymentterm</dt><dd class="col-9"><input [(ngModel)]="client.paymentterm" (ngModelChange)="onNgModelChanged()" type="number" /></dd>
    <dt class="col-3 text-right">phone</dt><dd class="col-9"><input [(ngModel)]="client.phone" (ngModelChange)="onNgModelChanged()" /></dd>
    <dt class="col-3 text-right">postbox</dt><dd class="col-9"><input [(ngModel)]="client.postbox" (ngModelChange)="onNgModelChanged()" /></dd>
    <dt class="col-3 text-right">zipcode</dt><dd class="col-9"><input [(ngModel)]="client.zipcode" (ngModelChange)="onNgModelChanged()" /></dd>
    <dt class="col-3 text-right">zippost</dt><dd class="col-9"><input [(ngModel)]="client.zippost" (ngModelChange)="onNgModelChanged()" /></dd>
  </dl>
</section>

<section class="clearfix">
  <div class="clearfix">
    <h2 class="float-left">projects</h2>
    <button (click)="onAddProject()" class="btn-primary float-right">add project</button>
  </div>
  <ul class="list-unstyled">
    <li *ngFor="let project of client?.projects">
      <a routerLink="{{project.uri}}">{{project.invoiceNr}} {{project.description}}</a>
    </li>
  </ul>
</section>