<div><section><h1 id="changelog">Changelog</h1>
</section><section><h2 id="v2-2-7-31-03-2018-">v2.2.7 (31/03/2018)</h2>
<ul>
<li>Refactor copy page to original state <a href="https://github.com/Sjeiti/project-invoice/issues/132" target="_blank">#132</a></li>
<li>Drag/order project lines <a href="https://github.com/Sjeiti/project-invoice/issues/125" target="_blank">#125</a></li>
<li>Added sitemap <a href="https://github.com/Sjeiti/project-invoice/issues/124" target="_blank">#124</a></li>
<li>Added auto-update <a href="https://github.com/Sjeiti/project-invoice/issues/118" target="_blank">#118</a></li>
<li>Removed appcache in favor of service workers <a href="https://github.com/Sjeiti/project-invoice/issues/116" target="_blank">#116</a></li>
<li>Price indication for discount on project page is inconsistent <a href="https://github.com/Sjeiti/project-invoice/issues/111" target="_blank">#111</a></li>
<li>Redesigned icons <a href="https://github.com/Sjeiti/project-invoice/issues/110" target="_blank">#110</a></li>
<li>Added ignore state to project/invoice <a href="https://github.com/Sjeiti/project-invoice/issues/109" target="_blank">#109</a></li>
<li>Middle ellipsis <a href="https://github.com/Sjeiti/project-invoice/issues/95" target="_blank">#95</a></li>
<li>Mobile swipe for menu <a href="https://github.com/Sjeiti/project-invoice/issues/93" target="_blank">#93</a></li>
<li>Merged config- and data.json <a href="https://github.com/Sjeiti/project-invoice/issues/17" target="_blank">#17</a></li>
<li>Bugfixes <a href="https://github.com/Sjeiti/project-invoice/issues/102" target="_blank">#102</a>, <a href="https://github.com/Sjeiti/project-invoice/issues/112" target="_blank">#112</a>, <a href="https://github.com/Sjeiti/project-invoice/issues/121" target="_blank">#121</a>, <a href="https://github.com/Sjeiti/project-invoice/issues/113" target="_blank">#113</a>, <a href="https://github.com/Sjeiti/project-invoice/issues/130" target="_blank">#130</a></li>
</ul>
<hr>
</section><section><h2 id="v2-1-6-30-03-2018-">v2.1.6 (30/03/2018)</h2>
<ul>
<li>Fixed settings backup download <a href="https://github.com/Sjeiti/project-invoice/issues/114" target="_blank">#114</a></li>
<li>Reminder layout on pdf incorrect <a href="https://github.com/Sjeiti/project-invoice/issues/101" target="_blank">#101</a></li>
<li>Restyled slightly <a href="https://github.com/Sjeiti/project-invoice/issues/87" target="_blank">#87</a></li>
</ul>
<hr>
</section><section><h2 id="v2-1-1-03-03-2018-">v2.1.1 (03/03/2018)</h2>
<ul>
<li>Vue port</li>
</ul>
<hr>
</section><section><h2 id="v1-3-9-25-06-2017-">v1.3.9 (25/06/2017)</h2>
<ul>
<li>UI improvements</li>
</ul>
<hr>
</section><section><h2 id="v1-2-3-16-06-2017-">v1.2.3 (16/06/2017)</h2>
<ul>
<li>Open source release</li>
</ul>
</section></div>