<div><section><h1 id="changelog">Changelog</h1>
</section><section><h2 id="v2-1-6-30-03-2018-">v2.1.6 (30/03/2018)</h2>
<ul>
<li>[<strong>bug</strong>] Settings backup download not working <a href="https://github.com/Sjeiti/project-invoice/issues/114" target="_blank">#114</a></li>
<li>[<strong>bug</strong>] reminder layout on pdf incorrect <a href="https://github.com/Sjeiti/project-invoice/issues/101" target="_blank">#101</a></li>
<li>[<strong>improvement</strong>] Restyle slightly <a href="https://github.com/Sjeiti/project-invoice/issues/87" target="_blank">#87</a></li>
<li>[<strong>improvement</strong>][<strong>wontfix</strong>] Find solution for data re-ordering <a href="https://github.com/Sjeiti/project-invoice/issues/61" target="_blank">#61</a></li>
<li>[<strong>improvement</strong>][<strong>wontfix</strong>] Add target to outside links in about to prevent overtaking current webapp window <a href="https://github.com/Sjeiti/project-invoice/issues/51" target="_blank">#51</a></li>
<li>[<strong>improvement</strong>][<strong>wontfix</strong>] Project index sort is called too often <a href="https://github.com/Sjeiti/project-invoice/issues/46" target="_blank">#46</a></li>
</ul>
<hr>
</section><section><h2 id="v2-1-1-03-03-2018-">v2.1.1 (03/03/2018)</h2>
</section><section><h2 id="vue-port">Vue port</h2>
</section><section><h2 id="v1-3-9-25-06-2017-">v1.3.9 (25/06/2017)</h2>
<hr>
</section><section><h2 id="v1-2-3-16-06-2017-">v1.2.3 (16/06/2017)</h2>
<p>Initial public release</p>
</section></div>