@import "../variables";
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

app-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $headerHeight;
  z-index: 2;
}

main {
  min-height: 100%;
  padding-top: $headerHeight;
  margin-bottom: -1*$footerHeight;
  @include media-breakpoint-up(sm) {
    h1 { display: none; }
  }
}

app-footer {
  height: $footerHeight;
}
