
$colorRed: #F04;
$colorGreen: #582;
$colorBlue: #1d85b4;
$colorYellow: #EFAC4E;
$colorGrayDark: #444;
$colorGray: #888;
$colorGrayLight: #CCC;
$colorGrayLighter: #DDD;

$colorBackground: #F8F8F8;
$colorHeader: #1B9CA2; // #3b4861; // #444;
$colorHeaderDark: darken($colorHeader, 10%);
$colorHeaderLight: lighten($colorHeader, 5%);
$colorError: $colorRed;
$colorLink: #1c93be;
$colorButton: $colorBlue;
$colorButtonHigh: $colorYellow;
$colorBorder: #BBB;
$colorTable: #EEE;
$colorShade: rgba(0,0,0,0.1);

$shadeFlat: 2px 3px 1px rgba(0, 0, 0, 0.2);

$padding: 8px;
$headerHeight: 2.5rem;
$borderRadius: 0.125rem;

$inputPaddingHorizontalHigh: 14px;
$inputPaddingHorizontalLow: 8px;

$breakpoint: 598px;
$breakpointLow: '(max-width: 598px)';
$breakpointHigh: '(min-width: 599px)';

:root {
  --breakpoint: #{$breakpoint};
  --breakpoint-low: #{$breakpointLow};
  --breakpoint-high: #{$breakpointHigh};

  --padding: #{$padding};
  --header-height: #{$headerHeight};
  --border-radius: #{$borderRadius};

  --color-header: #{$colorHeader};
  --color-header-dark: #{$colorHeaderDark};
  --color-header-light: #{$colorHeaderLight};

  --color-red: #{$colorRed};
  --color-redD30: #{darken($colorRed,30%)};

  --color-button: #{$colorButton};
  --color-buttonL05: #{lighten($colorButton,5%)};
  --color-buttonL30: #{lighten($colorButton,30%)};
  --color-buttonL40: #{lighten($colorButton,40%)};
  --color-buttonL54: #{lighten($colorButton,54%)};
  --color-buttonD10: #{darken($colorButton,10%)};

  --color-light-bg: #D9E6E8;
  --color-light-border: #BBB;

  --color-table: #EEE;

  --color-gray-dark: #{$colorGrayDark};
  --color-shade: #{$colorShade};
  --shade-flat: #{$shadeFlat};

  --color-not-white: #{mix(white, $colorButton, 70%)};

  --font-main: 'Open Sans', monospace;
  --font-mono: 'Source Code Pro', monospace;
}