@import './variables';
@import './_grid';
@import './_icons';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:400,700');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 160%;
  background-color: $colorBackground;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 0 10px;
  line-height: 200%;
  /*box-shadow: 0 0 0 999px #EEE inset;*/
}
h1:first-letter { text-transform: capitalize; }
h3 { font-size: 22px; }

a { color: $colorLink; }

ol, ul { list-style: none; }

section+section {
  margin-top: 40px;
  padding-top: 40px;
  box-shadow: 0 1px 0 $colorGrayLighter inset;
}
//section>button:first-child,
//section>.btn:first-child,
//section>header>button:first-child,
//section>header>.btn:first-child,
//.button--lower {
//  margin-top: .5rem;
//}

img {
  max-width: 100%;
  height: auto;
}

textarea {
  width: 100%;
  min-height: 70px;
  line-height: 130%;
}

menu {
  margin: 0;
  padding: 0;
}

hr {
  margin: 3rem 0;
  border: 0;
  height: 1px;
  background-color: $colorGrayLight;
}

.mono { font-family: 'Source Code Pro', monospace; }

// responsive hide/show
@media #{$breakpointHigh} { .media-low { display: none; }}
@media #{$breakpointLow} { .media-high { display: none; }}
//


[input-unit] {
  position: relative;
  input {
    padding-left: 2*$inputPaddingHorizontalHigh;
    @media #{$breakpointLow} {
      padding-left: 2.4*$inputPaddingHorizontalLow;
    }
  }
  &:after {
    content: attr(input-unit);
    position: absolute;
    top: 45%;
    left: $inputPaddingHorizontalHigh;
    transform: translateY(-50%);
    @extend .mono;
    line-height: 100%;
    @media #{$breakpointLow} {
      left: $inputPaddingHorizontalLow;
    }
  }
  &[input-unit="%"] {
    &:after {
      content: '%';
      left: auto;
      right: $inputPaddingHorizontalHigh;
      @media #{$breakpointLow} { left: auto; }
    }
    input {
      padding-left: $inputPaddingHorizontalHigh;
      @media #{$breakpointLow} {
        padding-left: $inputPaddingHorizontalLow;
      }
    }
  }
}

dl {
  display: flex;
  flex-wrap: wrap;
}
dt {
  flex: 0 0 100%/12*3;
  overflow: hidden;
  text-overflow: ellipsis;
  &[title]:after {
    $infoSize: 10px;
    content: 'i';
    position: relative;
    left: 3px;
    top: -3px;
    display: inline-block;
    width: $infoSize;
    height: $infoSize;
    overflow: visible;
    font-size: 8px;
    font-weight: bold;
    line-height: $infoSize;
    text-align: center;
    color: white;
    background-color: #CCC;
    border-radius: $infoSize;
  }
}
dd {
  flex: 0 0 100%/12*9;
  margin: 0;
}

code {
  padding: 0.2rem 0.4rem;
  font-family: 'Source Code Pro', monospace;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: 0.25rem;
}

.small, small {
  font-size: 80%;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.inline-block { display: inline-block; }
.list-inline>li { display: inline-block; }
.position-relative { position: relative; }
.float-left { float: left; }
.float-right { float: right; }
.clear { clear: both; }
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }
.nowrap { white-space: nowrap; }
.overflow-hidden { overflow: hidden; }
.display-flex { display: flex; align-items: flex-start; justify-content: space-between; }
.color-button { color: $colorButton; }
.base-height { line-height: 1.875rem; height: 1.875rem; }

.ellipsis {
  position: relative;
  &:before {
    content: '&nbsp;';
    visibility: hidden;
  }
  > span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media #{$breakpointLow} { .hide-low { display: none!important; }}
@media #{$breakpointHigh} { .hide-high { display: none!important; }}

[class^="icon-"], [class*=" icon-"] { font-size: 16px; }

.icon-drag {
  cursor: ns-resize;
  color: $colorBlue;
}

.icon-add-round {
  position: relative;
  &:after {
    $size: 10px;
    @include icon-icon();
    content: $icon-add;
    position: absolute;
    right: -6px;
    top: -4px;
    font-size: 7px;
    color: white;
  }
}

input.reveal {
  &+* {
    max-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: max-height 200ms ease,
                margin 200ms ease,
                padding 200ms ease;
  }
  &:checked+* {
    max-height: 400px;
  }
}

ul.tabs {
  margin: 2.5rem 0 0.5rem;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  * {
    display: block;
    line-height: 120%;
    padding: 0;
  }
  li {
    $margin: 0.25rem;
    position: relative;
    float: left;
    margin: 0 $margin 0 0;
    padding: 0.5rem 1rem 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid $colorBorder;
    background: linear-gradient(to bottom, transparent 30%, rgba(0,0,0,0.01) 70%, rgba(0,0,0,0.05) 100%);
    color: #999;
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      right: 0;
      display: block;
      width: calc(#{$margin} + 2px);
      height: 1px;
      background-color: $colorBorder;
      transform: translateX(100%);
    }
    &:last-child:after {
      width: 4rem;
      background: transparent linear-gradient(to right, $colorBorder 50%, transparent 100%);

    }
    &.selected {
      border-bottom: 0;
      background: none;
      color: #333;
    }
  }

}

.anim-li-height {
  &-enter,
  &-exit,
  &-enter-active,
  &-exit-active {
    transition: all 200ms linear;
  }
  &-exit {
    opacity: 1;
    transform: scaleY(1);
    height: 1rem;
  }
  &-enter {
    opacity: 0;
    transform: scaleY(0.1);
    height: 0;
  }
  &-enter-active {
    opacity: 1;
    transform: scaleY(1);
    height: 1rem;
  }
  &-exit-active {
    opacity: 0;
    transform: scaleY(0.1);
    height: 0;
  }
}

.anim-tv {
  &-enter {
    transition: opacity 200ms linear, transform 200ms ease-in;
    opacity: 0; display: block; transform: translate(-50%,-50%) scale(10,0.1); }
  &-enter-active { opacity: 1; transform: translate(-50%,-50%) scale(1,1); }
  &-enter-done { display: block; }

  &-exit {
    transition: opacity 200ms linear, transform 200ms ease-out;
    opacity: 1; transform: translate(-50%,-50%) scale(1,1); }
  &-exit-active { opacity: 0; transform: translate(-50%,-50%) scale(10,0.1); }
  &-exit-done { display: none; }
}

.anim-opacity {
  &-enter,
  &-exit,
  &-enter-active,
  &-exit-active { transition: opacity 200ms linear; }

  &-enter { opacity: 0; display: block; }
  &-enter-active { opacity: 1; }
  &-enter-done { display: block; }

  &-exit { opacity: 1; }
  &-exit-active { opacity: 0; }
  &-exit-done { display: none; }
}

.reveal {
  @extend .visually-hidden;
  &+* {
    max-height: 0;
    transition: max-heigh 200ms ease;
  }
  &:checked+* {
    max-height: 5rem;
  }
}