@import "./variables";

.html-print-start { content: 'START'; }

html {
  --main-bg-color: white;
  --main-fg-color: black;
  --secondary-bg-color: #AAA;
  --secondary-fg-color: white;
  --font-main: "Istok Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-currency: 'Droid Sans Mono', monospace;
  --base-font-size: 14px;
}

@page {
  size: A4;
  margin: 0;
}

.quotation {
  @page {
    margin-top: 20mm;
    margin-bottom: 20mm;
  }
  @page :first {
    margin-top: 0;
  }
}
* {
  overflow: visible;
}

html, body {
  -webkit-print-color-adjust: exact;
}

body {
  margin: 0;
}

@media print {
  html, body {
    background-color: var(--main-bg-color);
  }
}

.invoice {
  width: 210mm;
  min-height: 296.9mm;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-color: var(--main-bg-color);
  overflow: hidden;
  margin: 0 auto;
  //font-family: "Istok Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: var(--font-main)!important;
  font-size: var(--base-font-size);
  line-height: 160%;
  -webkit-print-color-adjust: exact;
  &.quotation {
    display: block;
    overflow: auto;
    height: auto;
  }
  > div {
    flex: 1;
  }
  header, footer {
    color: var(--secondary-fg-color);
    background-color: var(--secondary-bg-color);
  }
  header {
    padding-top: 20pt;
    margin-bottom: 30pt;
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
    > * { z-index: 1; }
    .client {}
    .you { text-align: right; }
    p { margin: 0; }
  }
  footer {
    flex: 0 1 63pt;
    padding: 0;
    font-size: 10pt;
    line-height: 140%;
    box-shadow: 0 10mm 0 0 var(--secondary-bg-color);
    text-align: center;
    div {
      padding-top: 8pt;
    }
  }

  h1 {
    margin: 0;
    font-size: 24pt;
    line-height: 120%;
  }
  h3.payment {
    //margin: 0;
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 8pt 0;
  }

  h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a, th, label {
    color: inherit;
  }

  h3, h4, h5, h6 {
    margin: 60px 0 30px;
    & + br {
      display: none;
    }
    & + table {
      margin-top: 5mm;
      margin-bottom: 10mm;
    }
  }

  .page .wrapper:nth-child(2) {
    h3, h4, h5, h6 {
      &:first-child { margin-top: 0; }
    }
  }

  .page .wrapper {
    padding-bottom: 30mm;
  }

  .type {
    text-transform: uppercase;
  }

  .client {
    color: var(--main-fg-color);
    max-width: 55%;
  }

  .date {
    text-align: right;
  }

  small {
    font-size: 80%;
    line-height: 140%;
  }
  small p {
    margin: 0;
  }

  .wrapper {
    position: relative;
    clear: both;
    width: 100%;
  }
  .block {
    padding: 10px 0 40px;
  }

  .page {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
  dl {
    display: block;
  }
  dt, dd {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
  dl.list {
    display: flex;
    dt {
      width: 30%;
      font-weight: bold;
    }
    dd {
      width: 70%;
    }
    &.concerns {
      margin-top: 20mm;
    }
  }

  dl.main {
    margin-top: 10mm;
    font-size: 18px;
    font-weight: bold;
    dt {
      width: 15%;
    }
    dd {
      width: 85%;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    line-height: 160%;
    background-color: transparent!important;
    * { background-color: inherit!important; }
  }
  table tbody, table th, table td {
    border: 0;
  }
  th {
    &:nth-child(1) { width: 50%; }
    &:nth-child(2) { width: 25%; }
    &:nth-child(3) { width: 25%; }
  }
  tr.separate,
  tr.add {
    height: 10pt;
  }
  tr.separate td:before,
  tr.add td.line:before {
    content: '';
    display: block;
    width: 100%;
    height: .8pt;
    background-color: var(--secondary-bg-color);
  }
  tr.add td:last-child:after {
    content: '+';
    position: absolute;
    top: -2pt;
    right: -14pt;
    color: var(--secondary-bg-color);
  }
  td, th {
    padding-right: 16pt;
    &:first-child {
      padding-right: 0;
    }
  }
  /*app-currency {
    padding: 0 20px 0 140px;
  }*/
  .quotation tr.total td:last-child {
    padding-right: 15px;
  }
  th {
    font-size: 16px;
    text-align: right;
  }
  td {
    position: relative;
    /*border: 1px solid rgba(0,0,0,0.01);*/
  }
  app-currency, .mono {  // todo: is .mono correct here?
    width: 80%;
    float: right;
    //font-family: 'Droid Sans Mono', monospace;
    font-family: var(--font-currency)!important;
    padding-right: 0;
  }
  .total {
    height: 40pt;
    app-currency {
      display: block;
      width: 55%;
      margin: 0 auto;
      float: none;
      transform: translateX(18pt);
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }
    td:last-child:before {
      left: 90px;
      position: static;
    }
    td:last-child:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: -8px;
      width: 95%;
      height: 100%;
      margin-left: 5%;
      border: 1px solid var(--secondary-bg-color);
      border-top: 0;
    }
    .input.mono {
      font-size: 20pt;
      width: 50%;
      max-width: none;
      margin: 0 auto;
      transform: translate(-40%, -20%);
    }
  }

  .quotation-copy {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .avoid-break {
    page-break-inside: avoid;
  }
  .page-break {
    page-break-before: always;
    position: relative;
  }

  /* THEME CLEAN */

  &.clean {
    header, footer {
      color: inherit;
      background-color: transparent;
    }
    header { border-bottom: 1px solid var(--secondary-bg-color); }
    footer { border-top: 1px solid var(--secondary-bg-color); }
  }

  /* THEME VERTICAL */

  &.vertical {
    $barWidth: 200pt;
    .page {
      width: 100%;
      padding: 0 $barWidth 0 20pt;
    }
    header, footer {
      color: inherit;
      background-color: transparent;
    }
    header {
      &:before, &:after {
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: var(--secondary-bg-color);
      }
      &:before {
        width: 0.2cm;
        left: 0;
      }
      &:after {
        width: $barWidth;
        right: 0;
      }
      .you {
        width: $barWidth;
        position: absolute;
        right: - $barWidth;
        text-align: left;
        color: var(--secondary-fg-color);
        font-size: 12pt;
        padding-left: 16pt;
      }
    }
    footer {
      flex: 0 1 83pt;
      padding-right: 16pt;
    }
    .date {
      padding-right: 16pt;
    }
    tr.add td:last-child:after {
      color: var(--secondary-fg-color);
    }
    .total {
      td:last-child {
        padding: 0;
        color: var(--secondary-fg-color);
        transform: translateX($barWidth);
        &:before, &:after { display: none; }
        app-currency { margin: 0; transform: none; }
      }
    }
  }
}

.html-print-end { content: 'END'; }