$colorBackground: #F8F8F8;
$colorHeader: #444;
$colorError: #F04;
$colorLink: #46A;
$colorButton: #0275D8;
$colorButtonHigh: #EFAC4E;
$colorBorder: #BBB;
$colorTable: #EEE;
$colorShade: rgba(0,0,0,0.1);

$padding: 8px;

$inputPaddingHorizontalHigh: 14px;
$inputPaddingHorizontalLow: 8px;

$breakpoint: 598px;
$breakpointLow: '(max-width: 598px)';
$breakpointHigh: '(min-width: 599px)';
//$breakpointLow: '(max-width: $breakpoint)';
//$breakpointHigh: '(max-width: $breakpoint+1px)';


// below old


$colorMain: #444; //#748274;
$colorMainDark: darken($colorMain,5%);
$colorMainDarker: darken($colorMain,10%);
$colorHeading: lighten($colorMain,5%);
$colorText: #332;
$colorBackground: #f5f5f5;
$colorFormBackground: #ffffff;
$colorAmountPositive: #7eb743;
$colorAmountNegative: #d8a771;

$colorPrintBackground: #f8fffd;
$colorRed: #f04;

$headerHeight: 40px;
$footerHeight: 20px;