.jumbotron {
  $bgcolor: #3f5267;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  font-size: 2em;
  background-color: $bgcolor;
  box-shadow: 400px 0 0 $bgcolor, -400px 0 0 $bgcolor, 100px 0 0 $bgcolor, -100px 0 0 $bgcolor;
  &, * { color: white; }
}