.name:not(:first-of-type) {
	&,&+* {
		margin-top: 30px;
	}
}
dd {
	position: relative;
}

/* todo: duplicate code below */

app-print-invoice {
  display: block;
  width: 210mm;
  min-height: 296.9mm;
  margin: 0 auto 60px;
  position: relative;
  z-index: 1;
  zoom: .4;
  font-family: "Istok Web","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.invoice-shade {
  position: relative;
  display: block;
  height: 0;
  zoom: .399;
  div {
    position: relative;
    left: 50%;
    width: 210mm;
    min-height: 296.9mm;
    transform: translateX(-50%);
    &:before, &:after {
      content: '';
      position: absolute;
      left: 4%;
      top: 1%;
      width: 92%;
      height: 98%;
      box-shadow: 4px 8px 64px rgba(0, 0, 0, 0.4);
    }
    &:before {
      transform: skewX(3deg);
    }
    &:after {
      transform: skewX(-3deg);
    }
  }
}
.invoice {
  position: relative;
  z-index: 1;
  width: 210mm;
  min-height: 296.9mm;
  font-family: "Istok Web","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sass {
  font-family: monospace;
  white-space: nowrap;
}