
<section class="float-md-right">
  <div class="invoice-shade"><div></div></div>
  <app-print-invoice [client]="client" [project]="project" [invoice]="invoice" [settings]="settings"></app-print-invoice>
  <app-lang class="float-right"></app-lang>
</section>
<section>
  <dl class="row">
    
    <dt class="name">Theme</dt><dd>
      <select class="form-control" [(ngModel)]="settings.theme" (ngModelChange)="onNgModelChanged()">
        <option *ngFor="let theme of settings.themes" value="{{theme}}">{{theme}}</option>
      </select>
    </dd>
    
    <dt class="name">logo</dt><dd>
      <label class="btn btn-secondary btn-sm">add image<input accept="image/gif, image/jpg, image/jpeg, image/png, image/svg, .gif, .jpg, .jpeg, .png, .svg" type="file" (change)="onChangeLogo($event)" class="visually-hidden" /></label>
      <button class="btn btn-secondary btn-sm" (click)="onDeleteLogo()">delete image</button>
    </dd>
    
    <dt class="name colors">Colors</dt><dd>
      <label><input class="form-control" type="color" (ngModelChange)="onNgModelChanged();onChangeVariables()" [(ngModel)]="settings.themeMainBgColor"/>main background</label>
      <label><input class="form-control" type="color" (ngModelChange)="onNgModelChanged();onChangeVariables()" [(ngModel)]="settings.themeMainFgColor"/>main foreground</label>
      <label><input class="form-control" type="color" (ngModelChange)="onNgModelChanged();onChangeVariables()" [(ngModel)]="settings.themeSecondaryBgColor"/>secondary background</label>
      <label><input class="form-control" type="color" (ngModelChange)="onNgModelChanged();onChangeVariables()" [(ngModel)]="settings.themeSecondaryFgColor"/>secondary foreground</label>
    </dd>
    
    <dt class="name font-size"><label for="font-size">Base font size</label></dt><dd>
        <input class="form-control" id="font-size" type="range" min="5" max="30" step="0.2"  [(ngModel)]="settings.themeFontSize" (ngModelChange)="onNgModelChanged();onChangeVariables()" />
    </dd>
    
    <dt class="name"><label for="font-main">Main font</label></dt><dd>
      <select id="font-main" class="form-control" [(ngModel)]="settings.themeFontMain" (ngModelChange)="onNgModelChanged();onChangeVariables()">
        <option *ngFor="let font of fonts" value="{{font.family}}">{{font.family}}</option>
      </select>
    </dd>
    
    <dt class="name"><label for="font-currency">Currency font</label></dt><dd>
      <select id="font-currency" class="form-control" [(ngModel)]="settings.themeFontCurrency" (ngModelChange)="onNgModelChanged();onChangeVariables()">
        <option *ngFor="let font of fonts | arrayFilter:'category=monospace'" value="{{font.family}}">{{font.family}}</option>
      </select>
    </dd>
    
    <dt class="name wide">invoiceCSS</dt><dd>
      <textarea class="sass" rows="16" [(ngModel)]="settings.invoiceCSS" (ngModelChange)="onNgModelChanged();onChangeSass(settings.invoiceCSS)"></textarea>
    </dd>
  </dl>
</section>
