$colorMain: #444; //#748274;
$colorMainDark: darken($colorMain,5%);
$colorMainDarker: darken($colorMain,10%);
$colorHeading: lighten($colorMain,5%);
$colorText: #332;
$colorBackground: #f5f5f5;
$colorFormBackground: #ffffff;
$colorAmountPositive: #7eb743;
$colorAmountNegative: #d8a771;

$colorPrintBackground: #f8fffd;
$colorRed: #f04;

$headerHeight: 40px;
$footerHeight: 20px;

