$colorBackground: #F8F8F8;
$colorError: #F04;
$colorLink: #46A;
$colorButton: #0275D8;
$colorButtonHigh: #EFAC4E;
$colorBorder: #BBB;
$colorTable: #EEE;
$colorShade: rgba(0,0,0,0.1);
  $padding: 8px;